#pycharm stuff
.idea
.idea\\inspectionProfiles\\profiles_settings.xml
.idea/thoipapy.iml
.idea\\thoipapy.iml
.idea/misc.xml
.idea\\misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml

# setuptools folders
build/
dist/
thoipapy.egg-info/

# Distribution / packaging
env/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
/thoipapy.egg-info/

*__pycache__*