include readme.rst
include manifest.in
include license.txt
include requirements.txt
include docs/releases.rst
include ML_model/model_features.txt
include ML_model/THOIPA_trained_ML_model.lpkl
include setting/hydrophobicity_scales.xlsx
include setting/Physical_Property_csv.txt
include setting/thoipapy_run_settings_example.xlsx