include readme.rst
include manifest.in
include license.txt
recursive-include thoipapy/ML_model *.lpkl
recursive-include thoipapy/setting *.xlsx *.txt *.csv
include thoipapy/setting/*.xlsx
include thoipapy/setting/*.csv
include thoipapy/ML_model/*.lpkl